* {
    margin: 0px;
    padding: 0px;

}

.navegacao,
ul {
    color: white;
    background-image: url("imagens/Capa-Guia-do-estudante-brasileiro.jpg");
    padding-block: 20px;
    border: 10px;
    box-sizing: 40px;
}

ul {
    padding-left: 50px;
    inline-size: 50px;
    background-position: 10px;
    list-style: none;
    display: flex;
    gap: 200px;
    block-size: 15px;
}

a {
    color: whitesmoke;
}